# Main App and Database
streamlit==1.51.0
pymongo
pyarrow
pydeck
GitPython
toml

# Google Sheets Integration (Combined & Fixed)
st-gsheets-connection
gspread
gspread-dataframe
gspread-formatting
gspread-pandas
google-api-python-client
google.oauth2.service_account

# Calculations & Visualization
pandas
numpy
matplotlib
plotly==6.5.0
openpyxl
